extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box


        //- Project Title
        h1 #{projectShown.project_name}

        //- Project description
        p #{projectShown.description}

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- Technologies used
          each technology in projectShown.technologies
            li #{technology}
          

        //- links to live demos and github repo
        a.btn-link(href= projectShown.live_link, target="_blank") Live Demo
        a.btn-link(href= projectShown.github_link, target="_blank") GitHub Repo

    .project-img-box.box

      //- Project screenshots
      img.project-img(src= `.${projectShown.image_urls[1]}`, alt=`Screenshot of the ${projectShown.project_name} project`)
      img.project-img(src= `.${projectShown.image_urls[2]}`, alt=`Screenshot of the ${projectShown.project_name} project`)
      img.project-img(src='https://placehold.it/1200x550', alt='')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
